#!/bin/bash

NEW_PATH=`carton exec -- sh -c 'echo $PATH'`
if [ $? -ne 0 ]; then exit 1; fi

NEW_PERL5LIB=`carton exec -- sh -c 'echo $PERL5LIB'`
if [ $? -ne 0 ]; then exit 1; fi

export PATH=$NEW_PATH
export PERL5LIB=$NEW_PERL5LIB
